# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/*
!build/esp32_platform.bin
!build/esp32_platform_1.0.0.bin
!build/esp32_platform_1.0.1.bin
!build/esp32_platform_1.0.2.bin
!build/esp32_platform_1.0.3.bin
!build/esp32_platform.elf
!build/esp32_platform.map
